
img {
  float: left;
  width: 300px;
  height: 262px;
}
h1{
  font-size: 70px;
  padding: 20px;
  text-align: center;

}
.introduction {
  border: 7px solid #000;
  background-color: #BEE16C;
}
body{
  background-image: url(../images/hd-white.jpeg);
  background-size: cover;
}
.text{
  font-size: 26px;
  text-align: center;
}
h3{
  padding-top: 10px;
}
h2{
  padding-left: 50px;
  font-size: 24px;
  font-family: sans-serif;
